<clr-tabs>
    <clr-tab-link [clrTabLinkId]="'tabUsers'" [clrTabLinkActive]="true">Users</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'tabRoles'">Roles</clr-tab-link>

    <clr-tab-content [clrTabContentId]="'content1'" [clrTabContentActive]="true">
        <p>Content for Dashboard tab. Here is a <a href="javascript://">link</a> that can be accessed via clicking or through
            keyboard via tabbing.</p>
    </clr-tab-content>
    <clr-tab-content>
        <p>Content for Management tab.</p>
    </clr-tab-content>
</clr-tabs>