<clr-tabs>
    <clr-tab-link [clrTabLinkId]="'tabUsers'" [clrTabLinkActive]="true">Users</clr-tab-link>
    <clr-tab-link [clrTabLinkId]="'tabRoles'">Roles</clr-tab-link>

    <clr-tab-content [clrTabContentId]="'content1'" [clrTabContentActive]="true">
        <h1>Stepper Sample 1</h1>
        <wfe-stepper></wfe-stepper>
        <br>
        <h1>Stepper Sample 2</h1>
        <wfe-stepper2></wfe-stepper2>
    </clr-tab-content>
    <clr-tab-content>
        <wfe-stepper2></wfe-stepper2>
    </clr-tab-content>
</clr-tabs>