<clr-main-container>
  <clr-alert [clrAlertAppLevel]="true" [clrAlertType]="'alert-warning'">
    <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <div class="alert-item">
      <div class="alert-text">
        Warning: You are currently working in offline mode.
      </div>
      <div class="alert-actions">
        <button class="btn alert-action">Action</button>
      </div>
    </div>
  </clr-alert>
  <clr-alert [clrAlertAppLevel]="true" [clrAlertType]="'alert-info'">
    <button type="button" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <div class="alert-item">
      <div class="alert-text">
        A new update is now available. Upgrade to v.1234.
      </div>
      <div class="alert-actions">
        <button class="btn alert-action">Install Update</button>
      </div>
    </div>
  </clr-alert>

  <clr-header class="header header-5">
    <div class="branding">
     <span class="clr-icon clr-clarity-logo"></span>
        <span id="title" class="title">{{title}}</span> 
    </div>
  </clr-header>  
</clr-main-container>