<div class="steps">
    <ul class="steps-container">
        <li style="width:25%;" class="activated">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-current">Shipping</div>
                <clr-icon size=24 shape="cluster"></clr-icon>
                <div class="step-description">Choose your shipping options</div>
            </div>
        </li>
        <li style="width:25%;">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-current">Billing</div>
                <clr-icon size=24 shape="dollar"></clr-icon>
                <div class="step-description">Enter your billing information</div>
            </div>
        </li>
        <li style="width:25%;">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-current">Cart</div>
                <clr-icon size=24 shape="bank"></clr-icon>
                <div class="step-description">Add your orders to cart</div>
            </div>
        </li>
        <li style="width:25%;">
            <div class="step">
                <div class="step-image"><span></span></div>
                <div class="step-current">Confirm</div>
                <clr-icon size=24 shape="check"></clr-icon>
                <div class="step-description">Verify your order details</div>
            </div>
        </li>
    </ul>
    <div class="step-bar" style="width: 25%;"></div>
</div>